# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# Data files
*.xlsx
*.csv
*.tsv
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.bak
*.swp
*.tmp

# Ignore cleaned dataset output
seniors_data_cleaned.xlsx
seniors_data.xlsx